<p id="notice"><%= notice %></p>
<table class="table table-striped">
  <tr>
    <th>Name</th>
    <td><%= @student.name %></td>
  </tr>
  <tr>
    <th>Street</th>
    <td><%= @student.street %></td>
  </tr>

  <tr>
    <th>Zip</th>
    <td><%= @student.zip %></td>
  </tr>

  <tr>
    <th>City</th>
    <td><%= @student.city %></td>
  </tr>

  <tr>
    <th>Phone</th>
    <td><%= @student.phone %></td>
  </tr>

  <tr>
    <th>Country</th>
    <td><%= @student.country %></td>
  </tr>

  <tr>
    <th>Group</th>
    <td><% @student.group.inspect %></td>
  </tr>

  <tr>
    <th>Email</th>
    <td><%= @student.email %></td>
  </tr>

  <tr>
    <th>Number of classes</th>
    <td><%= @student.dance_classes.count %></td>
  </tr>
</table>

<%= link_to 'Edit', edit_student_path(@student), :class => "btn btn-default" %>
<%= link_to 'Back', students_path, :class => "btn btn-primary" %>
