<h1>Manage your classes</h1>
<ul>
  <li><%= link_to 'Classes', dance_classes_path %></li>
  <li><%= link_to 'Instructors', instructors_path %></li>
  <li><%= link_to 'Students', students_path %></li>
  <li><%= link_to 'Lessons', lessons_path %></li>
  <li><%= link_to 'Groups', groups_path %></li>
  <li><%= link_to 'Rooms', rooms_path %></li>
</ul>

