<%= form_for(@dance_class) do |f| %>
  <% if @dance_class.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dance_class.errors.count, "error") %> prohibited this dance_class from being saved:</h2>

      <ul>
      <% @dance_class.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :duration %>
    <%= f.number_field :duration, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :price %>
    <%= f.text_field :price, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :max_students %>
    <%= f.number_field :max_students, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :room_id %>
    <%= f.collection_select(:room_id, Room.all, :id, :name, {}, { :class => "form-control" }) %>
  </div>
  <div class="form-group">
    <%= f.label :group_id %>
    <%= f.collection_select(:group_id, Group.all, :id, :name, {}, { :class => "form-control" }) %>
  </div>
  <div class="actions">
    <%= f.submit :class => "btn btn-primary" %>
  </div>
<% end %>
