<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @dance_class.name %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @dance_class.duration %>
</p>

<p>
  <strong>Price:</strong>
  <%= @dance_class.price %>
</p>

<p>
  <strong>Max students:</strong>
  <%= @dance_class.max_students %>
</p>

<p>
  <strong>Description:</strong>
  <%= @dance_class.description %>
</p>

<p>
  <strong>Room:</strong>
  <%= @dance_class.room.name %>
</p>

<p>
  <strong>Group:</strong>
  <%= @dance_class.group.name %>
</p>

<%= link_to 'Edit', edit_dance_class_path(@dance_class) %> |
<%= link_to 'Back', dance_classes_path %>
