<%= form_for(@lesson) do |f| %>
  <% if @lesson.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lesson.errors.count, "error") %> prohibited this lesson from being saved:</h2>

      <ul>
      <% @lesson.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="field">
      <%= f.label :dance_class %><br>
      <%= collection_select(:lesson, :dance_class_id, DanceClass.all, :id, :name, {:prompt => false}) %>
    </div>

    <div class="field">
      <%= f.label :instructor %><br>
      <%= collection_check_boxes(:lesson, :instructor_ids, Instructor.all, :id, :name, {:prompt => false}) %>
    </div>

    <div class="field">
      <%= f.label :student %><br>
      <%= collection_check_boxes(:lesson, :student_ids, Student.all, :id, :name, {:prompt => false}) %>
    </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
