<%= form_for(@lesson) do |f| %>
  <% if @lesson.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lesson.errors.count, "error") %> prohibited this lesson from being saved:</h2>

      <ul>
      <% @lesson.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :dance_class_id  %>
    <%= f.collection_select(:dance_class_id, DanceClass.all, :id, :name, {}, {:class => "form-control"}) %>
  </div>


  <div class="form-group">
    <%= f.label :student_id %>
    <%= f.select :student_ids, Student.all.collect {|x| [x.name, x.id]}, {}, :multiple => true, :class => "form-control" %>
  </div>

    <div class="form-group">
      <%= f.label :instructor_id %>
      <%= f.select :instructor_ids, Instructor.all.collect {|x| [x.name, x.id]}, {}, :multiple => true, :class => "form-control" %>
    </div>

  <div class="form-group">
    <%= f.label :scheduled %>
    <%= f.datetime_select :scheduled %>
  </div>

  <div class="actions">
    <%= f.submit :class => "btn btn-primary" %>
  </div>
<% end %>
