<%= form_for(@lesson) do |f| %>
  <% if @lesson.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lesson.errors.count, "error") %> prohibited this lesson from being saved:</h2>

      <ul>
      <% @lesson.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :DanceClass_id %><br>
    <%= f.text_field :DanceClass_id %>
  </div>
  <div class="field">
    <%= f.label :Students_id %><br>
    <%= f.text_field :Students_id %>
  </div>
  <div class="field">
    <%= f.label :Instructors_id %><br>
    <%= f.text_field :Instructors_id %>
  </div>
  <div class="field">
    <%= f.label :scheduled %><br>
    <%= f.datetime_select :scheduled %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
