<%= form_for(@lesson) do |f| %>
  <% if @lesson.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lesson.errors.count, "error") %> prohibited this lesson from being saved:</h2>

      <ul>
      <% @lesson.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :dance_class_id  %><br>
    <%= f.collection_select(:dance_class_id, DanceClass.all, :id, :name) %>
  </div>


  <div class="field">
    <%= f.label :student_ids %><br>
    <%= f.select :student_ids, Student.all.collect {|x| [x.name, x.id]}, {}, :multiple => true %>
  </div>


    <div class="field">
      <%= f.label :instructor_id %><br>
      <%= f.select :instructor_ids, Instructor.all.collect {|x| [x.name, x.id]}, {}, :multiple => true %>
    </div>

  <div class="field">
    <%= f.label :scheduled %><br>
    <%= f.datetime_select :scheduled %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
