<h1>Listing lessons</h1>

<table>
  <thead>
    <tr>
      <th>Danceclass</th>
      <th>Students</th>
      <th>Instructors</th>
      <th>Scheduled</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lessons.each do |lesson| %>
      <tr>
        <td><%= lesson.DanceClass %></td>
        <td><%= lesson.Students %></td>
        <td><%= lesson.Instructors %></td>
        <td><%= lesson.scheduled %></td>
        <td><%= link_to 'Show', lesson %></td>
        <td><%= link_to 'Edit', edit_lesson_path(lesson) %></td>
        <td><%= link_to 'Destroy', lesson, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Lesson', new_lesson_path %>
