<p id="notice"><%= notice %></p>

<table class="table table-striped">
  <tr>
    <th>Dance class:</th>
    <td><%= @lesson.dance_class.name %></td>
  </tr>

  <tr>
    <th>Students:</th>
    <td>
      <ul>
        <% @lesson.students.each do |student| %>
            <li><%= student.name %></li>
        <% end %>
      </ul>
    </td>
  </tr>

  <tr>
    <th>Instructors:</th>
    <td>
      <ul>
        <% @lesson.instructors.each do |instructor| %>
            <li><%= instructor.name %></li>
        <% end %>
      </ul>
    </td>
  </tr>

  <tr>
    <th>Scheduled:</th>
    <td><%= @lesson.scheduled %></td>
  </tr>
</table>

<%= link_to 'Edit', edit_lesson_path(@lesson), :class => "btn btn-default" %>
<%= link_to 'Back', lessons_path, :class => "btn btn-primary" %>
