<p id="notice"><%= notice %></p>

<p>
  <strong>Dance class:</strong>
  <%= @lesson.dance_class.name %>
</p>

<p>
  <strong>Students:</strong>
  <ul>
  <% @lesson.students.each do |student| %>
    <li><%= student.name %></li>
  <% end %>
  </ul>
</p>

<p>
  <strong>Instructors:</strong>
    <ul>
      <% @lesson.instructors.each do |instructor| %>
          <li><%= instructor.name %></li>
      <% end %>
    </ul>
</p>

<p>
  <strong>Scheduled:</strong>
  <%= @lesson.scheduled %>
</p>

<%= link_to 'Edit', edit_lesson_path(@lesson) %> |
<%= link_to 'Back', lessons_path %>
