<p id="notice"><%= notice %></p>

<table class="table table-striped">
  <tr>
  <th>Name:</th>
  <td><%= @room.name %></td>
</tr>

<tr>
  <th>Description:</th>
  <td><%= @room.description %></td>
</tr>
</table>
<%= link_to 'Edit', edit_room_path(@room), :class => "btn btn-default" %>
<%= link_to 'Back', rooms_path, :class => "btn btn-primary" %>