<%= form_for(@unit) do |f| %>
  <% if @unit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@unit.errors.count, "error") %> prohibited this unit from being saved:</h2>

      <ul>
      <% @unit.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :unit_template_id %><br>
    <%= f.text_field :unit_template_id %>
  </div>
  <div class="field">
    <%= f.label :instructor_id %><br>
    <%= f.text_field :instructor_id %>
  </div>
    <div class="form-group">
      <%= f.label :student_id %>
      <%= f.select :student_ids, Student.all.collect {|x| [x.name, x.id]}, {}, :multiple => true, :class => "form-control" %>
    </div>
  <div class="field">
    <%= f.label :room_id %><br>
    <%= f.text_field :room_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
