<h1>Listing units</h1>

<table>
  <thead>
    <tr>
      <th>Unittemplate</th>
      <th>Instructor</th>
      <th>Students</th>
      <th>Room</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @units.each do |unit| %>
      <tr>
        <td><%= unit.UnitTemplate %></td>
        <td><%= unit.Instructor %></td>
        <td><%= unit.students %></td>
        <td><%= unit.room %></td>
        <td><%= link_to 'Show', unit %></td>
        <td><%= link_to 'Edit', edit_unit_path(unit) %></td>
        <td><%= link_to 'Destroy', unit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Unit', new_unit_path %>
