<p id="notice"><%= notice %></p>

<p>
  <strong>Unittemplate:</strong>
  <%= @unit.unit_template %>
</p>

<p>
  <strong>Instructor:</strong>
  <%= @unit.instructor %>
</p>

<p>
  <strong>Students:</strong>
  <%= @unit.students %>
</p>

<p>
  <strong>Room:</strong>
  <%= @unit.room %>
</p>

<%= link_to 'Edit', edit_unit_path(@unit) %> |
<%= link_to 'Back', units_path %>
